@font-face {
    font-family: 'Action_man';
    font-weight: bold;
    src: url('fonts/action_man_bold.eot');
    src: url('fonts/action_man_bold.eot?#iefix') format('embedded-opentype'), url('fonts/action_man_bold.woff') format('woff'), url('fonts/action_man_bold.ttf') format('truetype'), url('fonts/action_man_bold.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/sourcesanspro-regular.eot');
    src: url('fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-regular.woff') format('woff'), url('fonts/sourcesanspro-regular.ttf') format('truetype'), url('fonts/sourcesanspro-regular.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    src: url('fonts/sourcesanspro-bold.eot');
    src: url('fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-bold.woff') format('woff'), url('fonts/sourcesanspro-bold.ttf') format('truetype'), url('fonts/sourcesanspro-bold.svg#webfont') format('svg');
}

body {
    padding-top: 0px;
    /*padding-bottom: 20px;*/
    font-weight: 400;
    background-color: #f5f5f5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/** Page d'accueil **/

.jumbotron {
    margin-top: 30px;
    background-color: #ddd;
    background: url('img/home.png') no-repeat center;
}

    .jumbotron h1 {
        color: #fff;
        font-size: 3em;
        font-weight: 600;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .jumbotron .twitter-typeahead {
        display: table !important;
    }

h2 {
    color: #323232;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

h3 span {
    margin-right: 8px;
}

/** Barre d'info **/

.navbar-brand {
    padding: 0px;
    margin-left: 0px !important;
}



.titre {
    font-weight: 900;
    font-size: 1.7em;
    position: relative;
    top: 5px;
    margin-left: 10px;
    font-family: 'Action_man', cursive;
	text-shadow: 0px 0px 3px #bbb;
}

.navbar-brand img {
    height: 50px;
    margin-right: 5px;
    /*padding : 0 10px 0 10px;*/
}

.navbar-brand a:hover {
    text-decoration: none;
}

.navbar {
    background-color: #ffffff;
    margin: 0;
    padding: 10px 0;
    border-bottom: 2px solid #333333;
}

.navbar-collapse {
    margin-bottom: 5px;
}

#boutonsUser a {
    color : #2e7cb0;
}

footer p {
    text-align: center;
}

/** Autocompletion **/

.twitter-typeahead {
    width: 100%;
}

.tt-dropdown-menu {
    width: 100%;
    /*width: 280px;*/
    /*margin-top: 12px;*/
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

    .tt-suggestion.tt-cursor {
        cursor: pointer;
        background-color: #ddd;
    }

    .tt-suggestion p {
        margin: 0;
    }

.tt-dropdown-menu {
    /*max-height: 150px;
    overflow-y: auto;*/
}

/** Champs manquants **/

@font-face {
    font-family: 'Glyphicons';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#webfont') format('svg');
}

.text-danger {
    color: #ff0000;
}

    .text-danger li {
        list-style-type: none;
    }

        .text-danger li:before {
            font-family: Glyphicons;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            content: "\e107";
            margin-right: 10px;
        }

/** Menu **/


#menu {
    border-bottom: 2px solid black;
    background: #4198d2;
    background: -moz-linear-gradient(top, #4198d2 2%, #4198d2 50%, #006bb2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#4198d2), color-stop(50%,#4198d2), color-stop(100%,#006bb2));
    background: -webkit-linear-gradient(top, #4198d2 2%,#4198d2 50%,#006bb2 100%);
    background: -o-linear-gradient(top, #4198d2 2%,#4198d2 50%,#006bb2 100%);
    background: -ms-linear-gradient(top, #4198d2 2%,#4198d2 50%,#006bb2 100%);
    background: linear-gradient(to bottom, #4198d2 2%,#4198d2 50%,#006bb2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4198d2', endColorstr='#006bb2',GradientType=0 );
    text-align: center;
}



    #menu,
    #menu ul,
    #menu ul li,
    #menu ul li a {
        list-style: none;
        line-height: 0.5;
        display: block;
        position: relative;
    }

        #menu ul {
            display: inline-block;
            margin: 0;
            padding: 0;
        }


            #menu ul li {
                display: inline-block;
                border-right: 2px solid black;
                margin: 0;
            }

                #menu ul li:last-child {
                    border-right: none;
                }

                #menu ul li a {
                    font-size: 14px;
                    padding: 15px;
                    text-decoration: none;
                    color: #fff;
                }

/** Recherche **/

#recherche {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

    #recherche .tt-dropdown-menu {
        text-align: left;
    }

    #recherche .form-group {
        margin: auto 8px;
    }

    #recherche #quoi {
        width: 300px;
    }

.objet {
    background: #fff;
    margin-bottom: 15px;
    padding: 15px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

    .objet h3 {
        margin-top: 5px;
        font-weight: 400;
    }

    .objet .photo,
    .objet .infos {
        text-align: center;
    }

    .objet .tarif {
        font-size: 3em;
        font-weight: 800;
    }

    .objet .jour {
        position: relative;
        top: 5px;
        font-size: 1.5em;
    }

.outils {
    text-align: center;
    margin-top: 25px;
}

#nouvel-objet {
    text-align: center;
    font-size: 1.2em;
}

.coordonnees {
    text-align: center;
    font-weight: 600;
}

.resa {
    background: #fff;
    margin-bottom: 15px;
    margin-top: -12px;
    padding: 15px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

/** Calendrier **/

#dateDebut, #dateFin {
    margin-bottom: 250px;
    width: 250px;
}


#info-resa, #tarif-resa {
    margin-top: 50px;
}

#nb-jours, #montant {
    font-weight: 900;
}
