@{
    ViewBag.Title = "J'y loue : Location entres particuliers";
}

<div class="jumbotron">
    <h1>Rechercher un objet en location</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                    <input id="quoi" type="text" class="form-control" placeholder="Quoi ? Exemple : Perceuse, Poussette, Camping-car ...">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></div>
                    <input id="ou" type="text" class="form-control" placeholder="Où ? Exemple : Grenoble, Isère, Rhones-Alpes ...">
                </div>
            </div>
            <div class="form-group">
                <input id="rechercher" type="submit" value="Rechercher" class="btn btn-default pull-right" />
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Louer près de chez vous</h3>
        <p>
            Retrouvez près de chez vous, ou sur le lieu de votre choix, tout type de matériel à louer. Quel que soit votre besoin, du plus basique au plus technique, inutile d’acheter : optez pour la location entre particulier, à proximité. Une simple recherche vous permettra de trouver le bon objet.
        </p>
    </div>
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>  Louer au meilleur prix</h3>
        <p>
            Propriétaire : gagnez de l’argent grâce à la location d'objets que vous avez chez vous, mais que vous n’utilisez que très peu.
            Locataire : retrouvez les meilleures offres de location de matériel selon vos besoins et votre budget. Comparez et choisissez l’objet le plus adapté.
        </p>
    </div>
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>  Louer tout type de matériel</h3>
        <p>Pour un besoin ponctuel, pour l’organisation d’un événement d’ampleur ou pour préparer de gros travaux, Zilok rassemble toutes les offres de location entre particuliers, mais aussi de nos partenaires professionnels de la location, à votre disposition pour la réalisation de votre projet.</p>
    </div>
</div>

@Scripts.Render("~/bundles/autocomplete")
<script>
    // Autocomplétion

    var lieux = new Bloodhound({
        datumTokenizer: function (datum) {
            return Bloodhound.tokenizers.whitespace(datum.value);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '@Url.Action("Lieux", "Ville")?recherche=%QUERY',
            filter: function (lieux) {
                return $.map(lieux, function (lieu) {
                    return {
                        value: lieu
                    };
                });
            }
        }
    });
    lieux.initialize();
    $('#ou').typeahead(null, {
        hint: true,
        minLength: 1,
        displayKey: 'value',
        source: lieux.ttAdapter()
    });
    $('.tt-hint').removeAttr("data-val");

    // Bouton recherche
    $("#rechercher").on('click', function () {
        var chemin = "@Url.Action("Index","Recherche")";
        var quoi = $("#quoi").val();
        var ou = $("#ou").val();
        if (quoi.trim() && ou.trim()) {
            chemin += "?keyword=" + quoi + "&location=" + ou;
        } else {
            if (quoi.trim()) {
                chemin += "?keyword=" + quoi;
            }
            if (ou.trim()) {
                chemin += "?location=" + ou;
            }
        }
        document.location.href = chemin;
    });
</script>